.header{
  padding: 30px 0;

  &__signup-demo {
    display: flex;
    margin-left: 40px;
    column-gap: 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
      margin-left: auto;
      font-size: 14px;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;
    }

    &-link{
      display: inline-flex;
      align-items: center;
      height: 36px;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-white);
        transition: width 0.3s ease;
    }
      &:hover::before{
        width: 100%;
      }
    }
  }
}