:root {
    --color-background: #202222;
    --color-white: #fff;
    --color-main: #398378;
    --color-gradient: linear-gradient(180deg, rgba(57,131,120,1) -800%, rgba(32,34,34,1) 100%);

    --border: 1px solid var(--color-white);

    --border-radius-button: 8px;
    --border-radius-subtitle: 20px;
    --border-radius-card-small: 22px;
    --border-radius-card-medium: 15px;
    --border-radius-card-big: 24px;

    --button-height: 46px;

    --shadow: 0px 10px 60px rgba(153, 1153, 153, 3%);
    --shadow-hover: 0px 10px 60px rgba(57, 131, 120, 25%);

    --font-family-base: "Jost", sans-serif;

    --container-width: 1170px;

    --section-padding-y-landing: 120px;
    --section-padding-y-main: 100px;

    --tranistion-duration: 0.3s;
}