@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-background: #202222;
  --color-white: #fff;
  --color-main: #398378;
  --color-gradient: linear-gradient(180deg, rgba(57,131,120,1) -800%, rgba(32,34,34,1) 100%);
  --color-gradient-footer: linear-gradient(0deg, rgba(57,131,120,1) -800%, rgba(32,34,34,1) 100%);
  --border: 1px solid var(--color-white);
  --border-radius-button: 8px;
  --border-radius-subtitle: 20px;
  --border-radius-card-small: 22px;
  --border-radius-card-medium: 15px;
  --border-radius-card-big: 24px;
  --button-height: 46px;
  --shadow: 0px 10px 60px rgba(153, 1153, 153, 3%);
  --shadow-hover: 0px 10px 60px rgba(57, 131, 120, 25%);
  --font-family-base: "Jost", sans-serif;
  --container-width: 1170px;
  --section-padding-y-landing: 120px;
  --section-padding-y-main: 100px;
  --tranistion-duration: 0.3s;
}

.container {
  width: var(--container-width);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-weight: 700;
  line-height: 1.28;
  color: var(--color-white);
  background-color: var(--color-background);
}

a,
button,
input,
textarea {
  transition: var(--tranistion-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 700;
  font-size: 56px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

h3 {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 14px;
  color: var(--color-white);
  background-color: var(--color-main);
  border-radius: var(--border-radius-button);
  border: none;
  font-size: 14px;
  line-height: 18px;
  z-index: 1000;
}
@media (hover: hover) {
  .button:hover {
    box-shadow: var(--shadow-hover);
    transform: scale(1.05);
  }
}
@media (hover: none) {
  .button:active {
    box-shadow: var(--shadow-hover);
    transform: scale(1.05);
  }
}
.button--transparent {
  background-color: transparent;
  border: 2px solid var(--color-white);
}
@media (hover: hover) {
  .button--transparent:hover {
    box-shadow: var(--shadow);
    transform: scale(1.05);
  }
}
@media (hover: none) {
  .button--transparent:active {
    box-shadow: var(--shadow);
    transform: scale(1.05);
  }
}

.grid {
  --gridColumns: 1;
  --rowGap: 32px;
  --columnGap: 30px;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  row-gap: var(--rowGap);
  column-gap: var(--columnGap);
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
.grid--3.gap-1 {
  --rowGap: 80px;
  --columnGap: 50px;
}
.grid--3.gap-2 {
  --rowGap: 42px;
  --columnGap: 15px;
}

.subtitle {
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-main);
  border-radius: var(--border-radius-subtitle);
  padding: 5px 10px;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
}
.subtitle span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.background__gradient {
  background: var(--color-gradient);
  min-height: 100vh;
}
.background__image {
  display: flex;
  justify-content: flex-end;
}
.background__img-1 {
  position: absolute;
  z-index: 0;
}
.background__img-2 {
  position: absolute;
  z-index: 0;
  top: 1550px;
}

.header {
  padding: 30px 0;
}
.header__signup-demo {
  display: flex;
  margin-left: 40px;
  column-gap: 10px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  margin-left: auto;
  font-size: 14px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 36px;
  position: relative;
  line-height: 18px;
  font-size: 14px;
}
.header__menu-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-white);
  transition: width 0.3s ease;
}
.header__menu-link:hover::before {
  width: 100%;
}

.section {
  padding-block: var(--section-padding-y-landing);
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y-landing);
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 71px;
}
.hero__body {
  max-width: 530px;
}
.hero__title {
  margin: 0;
  padding-bottom: 40px;
  white-space: pre-line;
  line-height: 64px;
}
.hero .change-color {
  color: var(--color-main);
}
.hero__description {
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.hero__image {
  z-index: 1;
}
.hero__button .arrow {
  margin-left: 10px;
}
.hero__partners {
  display: flex;
  flex-direction: column;
}
.hero__partners--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__partners--subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__partners--landing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__partners--landing h2 {
  font-family: Inter;
  margin: 0;
  margin-bottom: 60px;
}

.features__title {
  padding-bottom: 40px;
}
.features__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.features__list {
  flex: 2;
}
.features__list:not(:last-child) {
  margin-bottom: 100px;
}
.features__layout {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.features__header {
  flex: 1;
  max-width: 370px;
}

.features--card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 202px;
  max-width: 370px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius-card-small);
  box-shadow: var(--shadow);
  transition: ease-in-out 0.3s 0.05s;
}
.features--card__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.features--card__top svg {
  flex-shrink: 0;
}
.features--card__top svg path {
  fill: white;
  transition: fill 0.3s ease-in-out;
}
.features--card__top svg rect {
  fill: var(--color-main);
  transition: fill 0.3s ease-in-out;
}
.features--card__description {
  margin-top: auto;
  display: flex;
  align-items: end;
}
.features--card:hover {
  background-color: var(--color-main);
  box-shadow: var(--shadow-hover);
}
.features--card:hover svg path {
  transition: all 0.3s ease-in-out 0.05s;
  fill: black;
}
.features--card:hover svg rect {
  transition: all 0.3s ease-in-out 0.05s;
  fill: white;
}

.pricing__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.pricing__header > *:not(:first-child) {
  margin-bottom: 36px;
}
.pricing__description {
  max-width: 891px;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  font-size: 20px;
}
.pricing__body--card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.left {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.right {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.badge {
  background-color: var(--color-background);
  color: #fff;
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 4px;
  margin-left: 10px;
  display: inline-block;
  line-height: 12px;
  vertical-align: 5px;
}

.pricing--card {
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.3s 0.05s;
}
.pricing--card svg {
  margin-right: 8px;
}
.pricing--card__standard {
  background-color: rgba(255, 255, 255, 0.1);
  width: 373px;
  height: 524px;
  padding: 64px 48px;
}
.pricing--card__standard svg path {
  stroke: var(--color-main);
}
.pricing--card__highlighted {
  border-radius: 24px;
  background-color: var(--color-main);
  border: 1px solid var(--color-white);
  width: 374px;
  height: 588px;
  padding: 96px 48px;
}
.pricing--card__title {
  line-height: 32px;
  font-weight: 600;
  font-size: 24px;
}
.pricing--card__description {
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
}
.pricing--card__line {
  max-width: 276px;
  height: 2px;
  background-color: var(--color-white);
  opacity: 50%;
  margin: 20px 0;
}
.pricing--card__price {
  line-height: 48px;
  letter-spacing: -1%;
}
.pricing--card__price span {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1%;
  vertical-align: 10px;
}
.pricing--card__price--time {
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;
}
.pricing--card__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 40px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.pricing--card__highlighted:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}
.pricing--card__standard:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow);
}

.key-aspects__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--section-padding-y-main);
}
.key-aspects__header > *:not(:first-child) {
  margin-bottom: 36px;
}
.key-aspects__description {
  max-width: 891px;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  font-size: 20px;
}
.key-aspects__bg {
  background-color: rgba(57, 131, 120, 0.05);
}

.key-aspects--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 357px;
  background-color: transparent;
  transition: ease-in-out 0.3s 0.05s;
}
.key-aspects--card__header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем содержимое по горизонтали */
  justify-content: center; /* Центрируем содержимое по вертикали */
  margin-bottom: 16px;
}
.key-aspects--card__header svg {
  margin-bottom: 32px;
}
.key-aspects--card__header svg circle {
  fill: var(--color-main);
}
.key-aspects--card__title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.3px;
  font-family: Inter;
  font-weight: 600;
}
.key-aspects--card__description {
  text-align: center;
  width: 330px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: Inter;
  font-weight: 400;
}
.key-aspects--card__last-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 357px;
  background-color: rgba(57, 131, 120, 0.1);
  height: 278px;
  padding: 30px;
  border-radius: var(--border-radius-card-medium);
}

.testimonial__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--section-padding-y-main);
}
.testimonial__header > *:not(:first-child) {
  margin-bottom: 36px;
}
.testimonial__description {
  max-width: 891px;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  font-size: 20px;
}
.testimonial__inner {
  position: relative;
  overflow: hidden;
}
.testimonial__gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px; /* Высота градиента */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(32, 34, 34) 80%);
  pointer-events: none; /* Градиент не перекрывает клики */
}
.testimonial__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.testimonial--card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  padding: 30px 25px;
  color: black;
  height: 207px;
  margin: 0;
}
.testimonial--card__citation {
  font-size: 16px;
  line-height: 24px;
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
}
.testimonial--card__line {
  margin: 13px 0;
  width: 84px;
  height: 1px;
  background: linear-gradient(90deg, rgb(102, 102, 102) 0%, rgba(102, 102, 102, 0) 100%);
}
.testimonial--card__bottom-block {
  display: flex;
  align-items: flex-start;
  margin-top: auto;
}
.testimonial--card__logo {
  border-radius: 50%;
  margin-right: 25px;
}
.testimonial--card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.testimonial--card__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter;
}
.testimonial--card__post {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: Inter;
  color: rgb(151, 152, 159);
}

.pre-footer__bg {
  background-color: rgba(255, 255, 255, 0.05);
}
.pre-footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--section-padding-y-main);
  margin-bottom: var(--section-padding-y-main);
}
.pre-footer__header > *:not(:first-child) {
  margin-bottom: 36px;
}
.pre-footer__partners {
  display: flex;
  flex-direction: column;
}
.pre-footer__partners--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--section-padding-y-main);
}

.footer__bg {
  background: var(--color-gradient-footer);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--section-padding-y-main) 0;
  padding: 0 60px;
  height: 175px;
  background-color: var(--color-main);
  border-radius: var(--border-radius-button);
  position: relative;
  overflow: hidden;
}
.footer__top-title {
  position: relative;
}
.footer__top--line {
  height: 3px;
  width: 45px;
  position: absolute;
  top: 20px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-subtitle);
}
.footer__circle {
  width: 528px;
  height: 585px;
  border-radius: 50%;
  background-color: var(--color-background);
  opacity: 50%;
  position: absolute;
  right: -80px;
  bottom: -250px;
}
.footer__header {
  padding: 10px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.footer__header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
}
.footer__header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.footer__header__menu-right {
  display: flex;
  align-items: center;
  gap: 41px;
}
.footer__header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 36px;
  position: relative;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}
.footer__body {
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__landing {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__landing-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 374px;
}
.footer__support {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.footer__support-title {
  font-size: 20px;
  color: var(--color-main);
}
.footer__support-questions {
  display: flex;
  column-gap: 14px;
  align-items: start;
}
.footer__support-questions svg {
  color: var(--color-main);
}
.footer__support-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 374px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer__contacts-title {
  font-size: 20px;
  color: var(--color-main);
}
.footer__contacts__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer__contacts-item svg {
  color: var(--color-main);
  margin-right: 15px;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
